<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="BaseUrl" value="https://opensea.io" />
    <add key="CollectionPath" value="/wallet/locked?referrer=%2Fcollection%2F{0}%2Fassets%2Fcreate%3Fmedia%3D%26name%3D%26external_link%3D%26description%3D%26slug%3D{0}" />
    <add key="CollectionSlug" value="lama-fashion-club-winter-edition-nft" />
    <add key="walletPassword" value="MetaMaskWalletPassword" />
    <add key="BaseFilePath" value="C:\Work\My\AutomatedNFTUploader\nft" />
    <add key="ChromeProfileDir" value="C:\\Chrome_Profiles\\Profile 1" />
  </appSettings>

</configuration>